[submodule "Encode-JP-Emoji"]
	path = ecma35/data/multibyte/mbmaps/Perl/Encode-JP-Emoji
	url = https://github.com/kawanet/Encode-JP-Emoji.git

[submodule "emoji-toolkit"]
	path = ecma35/data/names/namemaps/emoji-toolkit
	url = https://github.com/joypixels/emoji-toolkit.git
