/* Sadly border-collapse: collapse; borks the borders on the position: sticky; */
table {
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
    background: white;
    color: black;
}
th, td {
    border-right: 1px solid black;
    border-right: 0.1rem solid black;
    border-bottom: 1px solid black;
    border-bottom: 0.1rem solid black;
    box-sizing: content-box;
    min-width: 6rem;
    width: 7rem;
}
table.chart th, table.chart td {
    min-width: 3rem;
    width: 4rem;
}
td {
    vertical-align: top;
}
th a {
    text-decoration: unset;
    color: inherit;
}
th:first-child, td:first-child {
    border-left: 1px solid black;
    border-left: 0.1rem solid black;
}
thead:first-of-type th, thead:first-of-type td {
    border-top: 1px solid black;
    border-top: 0.1rem solid black;
    position: sticky;
    top: 0;
    background: white;
}
.anchor {
    position: relative;
    top: -3rem;
}
.codepoint {
    font-family: monospace;
    font-size: 0.7rem;
}
.codepicture {
    font-family: TakaoPMincho, IPAPMincho, Noto Serif CJK KR, Source Han Serif KR, TakaoPGothic, IPAPGothic, Noto Sans CJK KR, Source Han Sans KR, TW-Sung-Ext-B, TW-Kai-Ext-B, Yu Gothic, BabelStone Han, serif;
    font-size: 1.5rem;
    line-height: 2rem;
}
.codepicture.roman {
    font-family: Doulos SIL, DejaVu Serif, Segoe UI, DejaVu Sans, serif;
}
.codepicture.smp {
    font-family: Twemoji Mozilla, Apple Color Emoji, Noto Color Emoji, Segoe UI Emoji, Noto Emoji, serif;
    /*font-family: unset;*/
}
.pua {
    color: dimgray;
}
.spua {
    /* TW-Sung-Plus and TW-Kai-Plus are the Gov-TW-supplied SPUA fonts for CNS */
    font-family: TW-Sung-Plus, TW-Kai-Plus;
    font-size: 1.5rem;
}
.vertical {
    -webkit-writing-mode: tb-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: tb-rl;
    writing-mode: vertical-rl;
    display: inline-block;
    width: 1em;
    /* Noto Serif CJK seems not actually to use vertical glyphs here for some reason?
     * Noto Sans CJK and TakaoP both do. */
    font-family: TakaoPMincho, IPAPMincho, TakaoPGothic, IPAPGothic, Noto Sans CJK JP, Source Han Sans JP, Yu Gothic, serif;
}
.rotated {
    transform: rotate(-90deg);
    display: inline-block;
    width: 1em;
}

.taegeuk {
	/*
     * The MacKorean mappings' variation hint sequences for the taeguek assume that the Unicode character is
     * rendered as in its code charts (yang above yin, like MacKorean 0xA693) as opposed to being rendered
     * with yin to the left of yang (Source Han; MacKorean 0xA698), or yang to left of yin (BabelStone Han).
     * Although the Unicode character effectively unifies all orientations, the following fonts use the first:
     */
    font-family: "DejaVu Sans", "Segoe UI Symbol", "Linux Libertine", "Linux Libertine G", "Arial Unicode MS";
    display: inline-block;
    width: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
}
.taegeuk.taegeuk90 {
    transform: rotate(90deg);
}
.taegeuk.taegeuk180 {
    transform: rotate(180deg);
}

.bigform {
    font-size: larger;
}
.codepicture sup {
    font-size: 0.75rem;
}

.undefined {
    background: #999;
	height: 3rem;
}
.collision {
    background: #f99;
}

ul.navbar {
    margin: 0;
    padding: 0;
}
ul.navbar li {
    display: inline;
}
ul.navbar li:first-child::before {
    content: "| ";
}
ul.navbar li::after {
    content: " |";
}
.navlabel {
    font-weight: bold;
}

.annotation {
    background: beige;
}
.annotation p {
    margin: 0.3em 0 0.3em 0;
    max-width: 98vw;
}
.annotation code {
    border: 0.1rem solid silver;
}

.inverse {
    fill: white;
    stroke: black;
    stroke-width: 3px;
}
.darksquare .inverse, .darkcircle .inverse {
    stroke: white;
}
.codepicture .charwrapper {
    height: 1.6rem;
    box-sizing: border-box;
    vertical-align: text-bottom;
}
.codepicture .charwrapper.circle, .codepicture .charwrapper.darksquare, .codepicture .charwrapper.lightsquare {
    height: 1.4rem;
    margin: 0.1rem;
    box-sizing: border-box;
}
.codepicture .charwrapper .wrappedtext {
    font-size: 72px;
}
.codepicture .charwrapper.circle .wrappedtext, .codepicture .charwrapper.lightdiamond .wrappedtext {
    font-size: 48px;
}
.codepicture .charwrapper.lightcircle .wrappedtext {
    font-size: 64px;
}
.codepicture .charwrapper.lightdiamond .enclosure {
    fill: none;
	stroke: black;
	stroke-width: 3px;
}
.codepicture .charwrapper .wrappedtext .redundant {
    /* Don't `display: none;` (since that excludes it from copy-paste,
       defeating much of the object of including it to begin with). */
    font-size: 0px;
}
.darksquare {
    background: black;
    border-radius: 0.2rem;
}
.darkcircle {
    background: black;
    border-radius: 0.75rem;
}
.lightsquare {
    border: 0.1rem solid black;
}
b .lightsquare {
    border: 0.1rem solid black;
    border-radius: 0.2rem;
}
.lightcircle {
    border: 0.1rem solid black;
    border-radius: 0.75rem;
}
