@font-face {
    font-family: 'TW-Sung-Plus';
    font-style: normal;
    font-weight: 400;
    /* If only the other one is present, use the other one; only download if necessary. */
    /* format() are "woff", "woff2", "truetype" (not "ttf"), "opentype", "embedded-opentype", "svg" */
    src: local('TW-Sung-Plus'), local('TW-Kai-Plus'), url('https://harjit.moe/fonts/TW-Sung-Plus-98_1.woff2') format('woff2');
}
@font-face {
    font-family: 'HanaMinB';
    font-style: normal;
    font-weight: 400;
    /* If only the other one is present, use the other one; only download if necessary. */
    /* format() are "woff", "woff2", "truetype" (not "ttf"), "opentype", "embedded-opentype", "svg" */
    src: local('HanaMinB'), local('HanaMinB-Regular'), url('https://harjit.moe/fonts/hanazono/HanaMinB.woff2') format('woff2');
}
/* Sadly border-collapse: collapse; borks the borders on the position: sticky; */
table {
    border-spacing: 0;
    margin-left: auto;
    margin-right: auto;
    background: white;
    color: black;
}
th, td {
    border-right: 1px solid black;
    border-right: 0.1rem solid black;
    border-bottom: 1px solid black;
    border-bottom: 0.1rem solid black;
    box-sizing: content-box;
    min-width: 6rem;
    width: 7rem;
    background: white;
}
table.chart th, table.chart td {
    min-width: 3rem;
    width: 5rem;
}
td {
    vertical-align: top;
}
th a:nth-of-type(2) {
    text-decoration: unset;
    color: inherit;
}
th:first-child, td:first-child {
    border-left: 1px solid black;
    border-left: 0.1rem solid black;
}
th:first-child {
    border-right: 2px solid black;
    border-right: 0.2rem solid black;
    position: sticky;
    left: 0;
    z-index: 10;
}
thead:first-of-type th, thead:first-of-type td {
    border-top: 1px solid black;
    border-top: 0.1rem solid black;
    position: sticky;
    top: 0;
    background: white;
    z-index: 10;
}
thead:first-of-type th:first-child {
    z-index: 11;
}
.anchor {
    position: relative;
    top: -3rem;
}
.codepoint, .cpt {
    font-family: monospace;
    font-size: 0.7rem;
}
.codepicture[lang|="zh"], .cpc[lang|="zh"] {
    font-family: Noto Serif CJK TC, Source Han Serif TC, Noto Sans CJK TC, Source Han Sans TC, TW-Sung-Ext-B, TW-Kai-Ext-B, HanaMinB, BabelStone Han, serif;
    font-size: 1.5rem;
    line-height: 2rem;
}
.codepicture[lang|="ja"], .cpc[lang|="ja"] {
    font-family: TakaoPMincho, IPAPMincho, Noto Serif CJK JP, Source Han Serif JP, TakaoPGothic, IPAPGothic, Noto Sans CJK JP, Source Han Sans JP, TW-Sung-Ext-B, TW-Kai-Ext-B, Yu Gothic, BabelStone Han, serif;
    font-size: 1.5rem;
    line-height: 2rem;
}
.codepicture[lang|="ko"], .cpc[lang|="ko"] {
    font-family: Noto Serif CJK KR, Source Han Serif KR, Noto Sans CJK KR, Source Han Sans KR, TakaoPMincho, IPAPMincho, TakaoPGothic, IPAPGothic, TW-Sung-Ext-B, TW-Kai-Ext-B, Yu Gothic, BabelStone Han, serif;
    font-size: 1.5rem;
    line-height: 2rem;
}
.codepicture.roman, .codepicture[lang|="en"], .codepicture span[lang|="en"], .cpc.roman, .cpc[lang|="en"], .cpc span[lang|="en"] {
    /* Noto Sans CJK TC renders the combining hacek as a large glyph to the letter's right,
     * for some reason (i.e. as if it were the spacing character). So don't list it.
     * Doulos SIL, Segoe UI and the DejaVus are good for LCG combining sequences. */
    font-family: Doulos SIL, DejaVu Serif, Segoe UI, DejaVu Sans, serif;
    font-size: 1.5rem;
    line-height: 2rem;
}
.codepicture.smp, .cpc.smp {
    font-family: Apple Color Emoji, Noto Color Emoji, Twemoji Mozilla, Segoe UI Emoji, EmojiOne Mozilla, Twitter Color Emoji, EmojiOne Color, Segoe UI Symbol, Noto Emoji, Android Emoji, EmojiSymbols, serif;
}
@-moz-document url-prefix() {
    /* Don't disfavour the SVGinOTF as much for Mozilla browsers. */
    .codepicture.smp, .cpc.smp {
        font-family: Twitter Color Emoji, Apple Color Emoji, Noto Color Emoji, EmojiOne Color, Twemoji Mozilla, Segoe UI Emoji, EmojiOne Mozilla, Segoe UI Symbol, Noto Emoji, Android Emoji, EmojiSymbols, serif;
    }
}
.codepicture[lang|="zh"]::after, .cpc[lang|="zh"]::after {
    /* Ensure more-or-less even vertical position of codepoint */
    content: "　";
    font-family: Noto Serif CJK TC, Source Han Serif TC, Noto Sans CJK TC, Source Han Sans TC, BabelStone Han, serif;
    font-size: 1.5rem;
}
.codepicture[lang|="ja"]:not(.smp)::after, .cpc[lang|="ja"]:not(.smp)::after {
    /* Ensure more-or-less even vertical position of codepoint */
    content: "　";
    font-family: TakaoPMincho, IPAPMincho, Noto Serif CJK JP, Source Han Serif JP, TakaoPGothic, IPAPGothic, Noto Sans CJK JP, Source Han Sans JP, Yu Gothic, BabelStone Han, serif;
    font-size: 1.5rem;
}
.codepicture[lang|="ko"]::after, .cpc[lang|="ko"]::after {
    /* Ensure more-or-less even vertical position of codepoint */
    content: "　";
    font-family: Noto Serif CJK KR, Source Han Serif KR, Noto Sans CJK KR, Source Han Sans KR, TakaoPMincho, IPAPMincho, TakaoPGothic, IPAPGothic, Yu Gothic, BabelStone Han, serif;
    font-size: 1.5rem;
}
.pua {
    color: dimgray;
}
.control { /* For the JIS X 0201 chart. */
    color: #060;
}
.bestfit { /* For the JIS X 0201 chart. */
    color: #009; 
}
.pua.bestfit {  /* For the JIS X 0201 chart. */
    color: #66f; 
}
.cpc.spua[lang|="zh"], .codepicture.spua[lang|="zh"] {
    /* TW-Sung-Plus and TW-Kai-Plus are the Gov-TW-supplied SPUA fonts for CNS */
    font-family: TW-Sung-Plus, TW-Kai-Plus;
    font-display: block;
    font-size: 1.5rem;
}
.cpc.spua[lang|="ko"], .codepicture.spua[lang|="ko"], .cpc.spua[lang|="jp"], .codepicture.spua[lang|="jp"] {
    font-family: Nishiki-teki;
    font-display: block;
    font-size: 1.5rem;
}
.vertical {
    -webkit-writing-mode: tb-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: tb-rl;
    writing-mode: vertical-rl;
    display: inline-block;
    width: 1em;
}
[lang|="ja"] .vertical {
    /* Noto Serif CJK seems not actually to use vertical glyphs here for some reason?
     * Noto Sans CJK and TakaoP both do. */
    font-family: TakaoPMincho, IPAPMincho, TakaoPGothic, IPAPGothic, Noto Sans CJK JP, Source Han Sans JP, Yu Gothic, serif;
}
.rotated {
    transform: rotate(-90deg);
    display: inline-block;
    width: 1em;
}

.taegeuk {
    /*
     * The MacKorean mappings' variation hint sequences for the taeguek assume that the Unicode character is
     * rendered as in its code charts (yang above yin, like MacKorean 0xA693) as opposed to being rendered
     * with yin to the left of yang (Source Han; MacKorean 0xA698), or yang to left of yin (BabelStone Han).
     * Although the Unicode character effectively unifies all orientations, the following fonts use the first:
     */
    font-family: "DejaVu Sans", "Segoe UI Symbol", "Linux Libertine", "Linux Libertine G", "Arial Unicode MS";
    display: inline-block;
    width: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
}
.taegeuk.taegeuk90 {
    transform: rotate(90deg);
}
.taegeuk.taegeuk180 {
    transform: rotate(180deg);
}

.bigform {
    font-size: larger;
}
.codepicture sup {
    font-size: 0.75rem;
}

.collision, .collision th, .collision td, .cln, .cln th, .cln td {
    background: #f99;
}
.undefined, .udf, .collision .undefined, .cln .udf {
    background: #999;
	height: 3rem;
}

ul.navbar {
    margin: 0;
    padding: 0;
}
ul.navbar li {
    display: inline;
}
ul.navbar li:first-child::before {
    content: "| ";
}
ul.navbar li::after {
    content: " |";
}
.navlabel {
    font-weight: bold;
}

.annotation, .annotation th, .annotation td {
    background: beige;
}
.annotation td {
    padding-left: 2px;
    padding-left: 0.2rem;
}
.annotation p {
    margin: 0.3em 0 0.3em 0;
    max-width: 98vw;
    position: sticky;
    left: 3px;
    left: 0.3rem;
}
.annotation code {
    border: 0.1rem solid silver;
}

.inverse {
    fill: white;
    stroke: black;
    stroke-width: 3px;
}
.darksquare .inverse, .darkcircle .inverse {
    stroke: white;
}
.cpc .charwrapper {
    height: 1.6rem;
    box-sizing: border-box;
    vertical-align: text-bottom;
}
.cpc .charwrapper.circle, .cpc .charwrapper.darksquare, .cpc .charwrapper.lightsquare {
    height: 1.4rem;
    max-width: 6rem;
    margin: 0.1rem;
    box-sizing: border-box;
}
.cpc .charwrapper .wrappedtext {
    font-size: 72px;
}
.cpc .charwrapper.circle .wrappedtext, .cpc .charwrapper.lightdiamond .wrappedtext {
    font-size: 48px;
}
.cpc .charwrapper.lightcircle .wrappedtext {
    font-size: 64px;
}
.cpc .charwrapper.lightdiamond .enclosure {
    fill: none;
	stroke: black;
	stroke-width: 3px;
}
.cpc .charwrapper .wrappedtext .redundant {
    /* Don't `display: none;` (since that excludes it from copy-paste,
       defeating much of the object of including it to begin with). */
    font-size: 0px;
}
.darksquare {
    background: black;
    border-radius: 0.2rem;
}
.darkcircle {
    background: black;
    border-radius: 0.75rem;
}
.lightsquare {
    border: 0.1rem solid black;
}
b .lightsquare {
    border: 0.1rem solid black;
    border-radius: 0.2rem;
}
.lightcircle {
    border: 0.1rem solid black;
    border-radius: 0.75rem;
}
